In [1]:
import pandas as pd
import numpy as np
df=pd.read_csv('Diabetes_XTrain.csv')

In [2]:
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,7,168,88,42,321,38.2,0.787,40
1,8,110,76,0,0,27.8,0.237,58
2,7,147,76,0,0,39.4,0.257,43
3,2,100,66,20,90,32.9,0.867,28
4,4,129,86,20,270,35.1,0.231,23

In [3]:
df2=pd.read_csv('Diabetes_YTrain.csv')

In [4]:
df2.head()

   Outcome
0        1
1        0
2        1
3        1
4        0

In [5]:
df3=pd.read_csv('Diabetes_Xtest.csv')
df3.head()
X_test=df3.values

In [6]:
def dist(x1,x2):
    return np.sqrt(sum((x1-x2)**2))
def knn(X,query,Y,k=5):
    m=X.shape[0]
    val=[]
    for i in range(m):
        d=dist(query,X[i])
        val.append((d,int(Y[i])))
    val=sorted(val)
    #taking the first k values 
    val=val[:k]
    val=np.array(val)
    new_val=np.unique(val[:,1],return_counts=True)
    max_freq_ind=new_val[1].argmax()
    pred=new_val[0][max_freq_ind]
    return pred

In [7]:
X_train=df.values
Y_train=df2.values
pred=knn(X_train,X_test[3],Y_train)
print(int(pred))

0

In [18]:
def predict():
    pred=[]
    for i in range(X_test.shape[0]):
        test=knn(X_train,X_test[i],Y_train)
        pred.append(int(test))
    return pred

In [19]:
pred1=predict()

In [23]:
prediction=pd.DataFrame(pred1,columns=['Outcome'])

In [40]:
prediction.head(15)

    Outcome
0         1
1         0
2         0
3         0
4         0
5         1
6         1
7         1
8         0
9         1
10        1
11        0
12        1
13        0
14        0

In [45]:

prediction.to_csv('out.csv',index=False)